{% load base_extras %}
<nav class="navbar navbar-expand-lg navbar-light bg-transp mb-1">
  <a class="navbar-brand" href="#">
    Group
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProfile"
    aria-controls="navbarProfile" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarProfile">
    <!-- menu items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if nav == 'info' %}active{% endif %}" 
           href="{% url 'group_detail' object.pk %}">
          Members
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if nav == 'frequencies' %}active{% endif %}" 
           href="{% url 'group_frequencies' object.pk %}">
          Frequencies
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-md-auto">    
      <li class="nav-item">
        <a class="btn btn-light text-info btn-sm" href="{% url 'group_home' %}">
          <i class="fas fa-chevron-left"></i> 
          Back
        </a>
      </li>
    </ul>
  </div>
</nav>