{% load base_extras %}
<!-- actions -->
<div class="text-right mb-2 mt-2">
  <!-- controlers -->
  {% if nav == "home" and request.user.is_superuser %}
    <a class="btn btn-light text-primary btn-sm" href="{% url 'center_create' %}">
      <i class="fas fa-plus"></i> 
      Center
    </a>
  {% endif %}

  {% if nav == "detail" %}
    {% if request.user|has_group:"office" and request.user.person.center_id == object.id %}
      <a class="btn btn-light text-warning btn-sm" href="{% url 'center_update' object.id %}">
        <i class="fas fa-edit"></i> 
        Edit
      </a>
    {% endif %}

    {% if request.user.is_superuser %}
      <a class="btn btn-light text-warning btn-sm" href="{% url 'center_update' object.id %}">
        <i class="fas fa-edit"></i> 
        Edit
      </a>
      {% if object.is_active %}
        <a class="btn btn-light text-danger btn-sm" href="{% url 'center_delete' object.id %}">
          <i class="fas fa-trash-alt"></i> 
          Delete
        </a>
      {% else %}
        <a class="btn btn-light text-success btn-sm" href="{% url 'center_reinsert' object.id %}">
          <i class="fas fa-sign-in-alt"></i> 
          Reinsert
        </a>
      {% endif %}
    {% endif %}
  {% endif %}
  
</div>