{% load i18n %}

<ul class="nav nav-pills" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" 
      id="basic-tab" 
      data-toggle="tab" 
      href="#tabBasic" 
      role="tab" 
      aria-controls="basic"
      aria-selected="true">{% trans 'Basic' %}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" 
      id="address-tab" 
      data-toggle="tab" 
      href="#tabAddress" 
      role="tab" 
      aria-controls="address"
      aria-selected="false">{% trans 'Address' %}</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" 
      id="others-tab" 
      data-toggle="tab" 
      href="#tabOthers" 
      role="tab" 
      aria-controls="others"
      aria-selected="false">{% trans 'Others' %}</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" 
    id="tabBasic" 
    role="tabpanel" 
    aria-labelledby="contacts-tab">
    {% include 'center/elements/tab_basic.html' %}
  </div>

  <div class="tab-pane fade" 
    id="tabAddress" 
    role="tabpanel" 
    aria-labelledby="address-tab">
    {% include 'center/elements/tab_address.html' %}
  </div>

  <div class="tab-pane fade" 
    id="tabOthers" 
    role="tabpanel" 
    aria-labelledby="other-tab">
    {% include 'center/elements/tab_others.html' %}
  </div>

</div>

<!-- Modal -->
<div class="modal fade" 
  id="showPix" 
  tabindex="-1" 
  aria-labelledby="showPixLabel" 
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-secondary">
        <h5 class="modal-title text-light" id="showPixLabel">{% trans 'Center PIX' %}</h5>
        <button type="button" 
          class="close text-light" 
          data-dismiss="modal" 
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img-thumbnail rounded mx-auto d-block mb-4" src="{{ object.pix_image.url }}">
      </div>
      <div class="modal-footer">
        <button type="button" 
          class="btn btn-secondary" 
          data-dismiss="modal">{% trans 'Close' %}</button>
      </div>
    </div>
  </div>
</div>