{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

{% include 'treasury/navbar.html' %}

<article class="media content-section mb-1">
  <div class="media-body">
    <form class="form-control-sm mt-1" method="GET">
      {% csrf_token %}
      {% include "base/searchs/orders.html" %}
    </form>
    <br>
    {% include 'treasury/order/orders.html' %}
  </div>
</article>

<div id="showOrderModal" class="modal fade" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div id="modalBody" class="modal-content text-dark" hx-target="this">
      <!-- modal body -->
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
  // Remove dialog content after hiding
  $("#showOrderModal").on("hidden.bs.modal", () => {$("#modalBody").empty()})
</script>
{% endblock scripts %}