{% load base_extras %}
{% load i18n %}

<div class="col-sm-10">
  <strong>
    {{ forloop.counter|add:counter }}
    &nbsp;&nbsp;
    {{ obj.name }}
  </strong>
  <em class="small">
    &nbsp;&nbsp;&nbsp;{{ obj.local }} | {{ obj.center }}
    {% if obj.phone %}
      &nbsp;&nbsp;&nbsp;
      <i class="fas fa-phone"></i> 
      {{ obj.phone }}
    {% endif %}
    {% if obj.email %}
      &nbsp;&nbsp;&nbsp;
      <i class="fas fa-envelope"></i> 
      {{ obj.email }}
    {% endif %}
  </em>
  {% if obj.center != request.user.person.center %}
    &nbsp;&nbsp;&nbsp;
    <span class="badge badge-pill badge-secondary">{% trans 'only view' %}</span>
  {% endif %}
  {% if not obj.is_active and obj.status != 'ITD' %}
    &nbsp;&nbsp;&nbsp;
    <small class="badge-pill badge-danger">{% trans 'inactive' %}</small>
  {% endif %}
</div>

<div class="col-sm-2 small text-right">
  <strong>{{ obj.get_status_display }}</strong> 
  {% if obj.add_link %}
    {% if obj.pk in pre_listeners %}
      &nbsp;&nbsp;&nbsp;<i class="fas fa-user-check mr-1"></i>
    {% else %}
      <a type="button" 
        href="{{ obj.add_link }}?seek_pk={{ obj.pk }}"
        class="btn btn-light text-primary btn-sm">
        <i class="fas fa-plus"></i> 
      </a>
    {% endif %}
  {% elif obj.add_in_group %}
    {% if obj.publicworkgroup_set.count %}
      &nbsp;&nbsp;&nbsp;<i class="fas fa-user-check mr-1"></i>
    {% else %}
      <a type="button" 
        href="{{ obj.add_in_group }}?seek_pk={{ obj.pk }}"
        class="btn btn-light text-primary btn-sm">
        <i class="fas fa-plus"></i>
      </a>
    {% endif %}
  {% elif obj.del_member %}
    {% if not request.user|has_group:"publicwork_jr" %}
      <a type="button" 
        href="{{ obj.del_member }}"
        class="btn btn-light text-danger btn-sm">
        <i class="fas fa-trash"></i>
      </a>
    {% endif %}
  {% endif %}

  {% if obj.to_detail %}
    {% if obj.center == request.user.person.center and obj.status != 'ITD' or request.user.is_superuser %}
      <a type="button" 
        href="{{ obj.to_detail }}"
        class="btn btn-light text-primary btn-sm">
        <i class="fas fa-eye"></i>
      </a>
    {% endif %}
  {% endif %}
</div>