{% load base_extras %}
<!-- actions -->
<div class="text-right mb-2 mt-2">
  <!-- controlers -->
  {% if nav == "sk_home" %}
    <a class="btn btn-light text-primary btn-sm" 
      href="{% url 'seeker_create' %}">
      <i class="fas fa-plus"></i> 
      Seeker
    </a>
  {% endif %}

  {% if nav == "lc_home" %}
    <a class="btn btn-light text-primary btn-sm" 
      href="{% url 'lecture_create' %}">
      <i class="fas fa-plus"></i> 
      Lecture
    </a>
  {% endif %}

  {% if nav == 'gp_home' and not request.user|has_group:"publicwork_jr" %}
    <a class="btn btn-light text-primary btn-sm" 
      href="{% url 'group_create' %}">
      <i class="fas fa-plus"></i> 
      Group
    </a>
  {% endif %}
  
</div>
