{% load base_extras %}
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" id="submenu">
  <a class="navbar-brand mr-0 mr-md-2" 
     href="#" aria-label="Bootstrap">
    {% if nav == 'home' %}Events{% else %}Event{% endif %}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
    </ul>
  </div>

  <!-- actions -->
  <ul class="navbar-nav ml-md-auto">
    {% if nav == "home" %}
      <li class="nav-item">
        <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
           href="{% url 'event_create' %}">
          <i class="fas fa-plus"></i>
          Event 
        </a>
      </li>
    {% endif %}

    {% if nav == "detail" %}
      <li class="nav-item">
        <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
           href="{% url 'frequencies_add' object.pk %}">
          <i class="fas fa-plus"></i>
          Frequencies
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-warning" 
           href="{% url 'event_update' object.id %}">
          <i class="fas fa-edit"></i> 
          Edit
        </a>
      </li>
      {% if not object_list %}
        <li class="nav-item">
          <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-danger" 
            href="{% url 'event_delete' object.id %}">
            <i class="fas fa-trash-alt"></i> 
            Delete
          </a>
        </li>
      {% endif %}
    {% endif %}

    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2 text-info" 
          href="{%if nav == 'home' %}
                  {% url 'home' %}
                {% else %}
                  {% url 'event_home' %}
                {% endif %}">
        <i class="fas fa-chevron-left"></i> 
        Back
      </a>
    </li>
    
  </ul>

</header>