{% load base_extras %}
{% load i18n %}

<div class="col-sm-6">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong>{{ obj.event.date|date:'d/m/y' }}</strong>
  &nbsp;&nbsp;&nbsp;
  <strong>{{ obj.event.activity.name }}</strong>
  &nbsp;&nbsp;&nbsp;
  <small>
    {{ obj.event.center }} 
    &nbsp;&nbsp;
    <em>({{ obj.event.activity.get_activity_type_display }})</em>
  </small>
</div>
<div class="col-sm-4 small">
  {% if obj.observations %}
    {{ obj.observations }}
  {% endif%}
</div>
<div class="col-sm-2 text-right">
  {% if obj.ranking > 0 %}
    {{ obj.ranking }}
    <i class="fas fa-star"></i>
  {% endif %}
  &nbsp;&nbsp;
  <a type="button" 
    href="{% url 'membership_update_frequency' group_pk object.pk obj.pk %}"
    class="btn btn-light text-warning btn-sm">
    <i class="fas fa-edit"></i>
  </a>
  <a type="button" 
    href="{% url 'membership_remove_frequency' group_pk object.pk obj.pk %}"
    class="btn btn-light text-danger btn-sm">
    <i class="fas fa-trash-alt text-danger"></i>
  </a>
</div>