{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

{% include "workgroup/member/navbar.html" %}

<article class="media content-section">
  <div class="media-body">

    {% include "workgroup/member/header.html" %}

    <br>
    {% if tab == "info" %}
      <h4>{% trans 'Info' %}</h4>
      {% include "workgroup/member/info.html" %}
    {% elif tab == "frequencies" %}
      <h4>{% trans 'Frequencies' %}</h4>
      {% include "workgroup/member/frequencies.html" %}
    {% elif tab == "historic" %}
      <h4>{% trans 'Historic' %}</h4>
      {% include "workgroup/member/historic.html" %}
    {% endif %}
    
  </div>
</article>

{% endblock content %}