{% extends "base/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-2 mt-4">
  <button 
    class="btn btn-warning" 
    onclick="checkForm();">
    <i class="fas fa-check"></i> 
    {% trans 'Save' %}
  </button>
  <a type="button" 
    class="btn btn-light text-info mr-3" 
    href="{% url 'profile_detail' %}">
    <i class="fas fa-chevron-left"></i> 
    {% trans 'Go back' %}
  </a>
</div>

<article class="media content-section">
  <div class="media-body">
    <form method="POST" enctype="multipart/form-data" id="form">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom">
          {% if to_create %} {% trans 'Create' %} {% else %} {% trans 'Update' %} {% endif %} {% trans 'Profile' %}
        </legend>
        
        <div class="row">
          <div class="col-sm-8">{{ profile_form.social_name | as_crispy_field }}</div>
          <div class="col-sm-4">{{ profile_form.gender | as_crispy_field }}</div>
        </div>
        <div class="row">
          <div class="col-sm-6">{{ profile_form.phone | as_crispy_field }}</div>
          <div class="col-sm-6">{{ user_form.email | as_crispy_field }}</div>
        </div>
      </fieldset>
      <fieldset class="form-group pt-4 border-top border-secondary">
        {% if object.person.aspect == 'A1' %}
          <div class="row">
            <div class="col-md-6">{{ profile_form.city | as_crispy_field }}</div>
            <div class="col-md-2">{{ profile_form.state | as_crispy_field }}</div>
            <div class="col-md-4">{{ profile_form.country | as_crispy_field }}</div>
          </div>
        {% else %}
          <div class="row">
            <div class="col-md-4">{{ profile_form.address | as_crispy_field }}</div>
            <div class="col-md-2">{{ profile_form.number | as_crispy_field }}</div>
            <div class="col-md-3">{{ profile_form.complement | as_crispy_field }}</div>
            <div class="col-md-3">{{ profile_form.district | as_crispy_field }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">{{ profile_form.city | as_crispy_field }}</div>
            <div class="col-md-2">{{ profile_form.state | as_crispy_field }}</div>
            <div class="col-md-3">{{ profile_form.country | as_crispy_field }}</div>
            <div class="col-md-3">{{ profile_form.zip_code | as_crispy_field }}</div>
          </div>
        {% endif %}
      </fieldset>
      <fieldset class="form-group pt-4 border-top border-secondary">
        <div class="row">
          <div class="col-sm-4">{{ profile_form.sos_contact | as_crispy_field }}</div>
          <div class="col-sm-3">{{ profile_form.sos_phone | as_crispy_field }}</div>
          <div class="col-sm-5">{{ profile_form.image | as_crispy_field }}</div>
        </div>
      </fieldset>
    </form>
  </div>
</article>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/profileValidation.js' %}"></script>
{% endblock %}