{% load i18n %}

<div class="modal" 
  aria-hidden="false" 
  id="toShow">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Order detail &nbsp;&nbsp;<small class="text-muted" id="selfPayed"></small>
        </h4>
        <button 
          type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 font-weight-bold" id="modalName">Name of Person (center)</div>
          <div class="col-4" id="modalDate">01/01/21</div>
          <div class="col-2 text-right" id="modalStatus">concluded</div>
        </div>
        <span class="text-muted font-italic" id="modalDescript"><small></small></span>
        <!-- payments -->
        <h5 class="mt-4">payments</h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>type</th>
              <th>description</th>
              <th class="text-right">value $</th>
            </tr>
          </thead>
          <tbody id="paymentRows"></tbody>
        </table>
        <table class="table table-sm">
          <tr>
            <th width="80%" class="text-right">TOTAL:</th>
            <th class="text-right" id="ptTotal">Total</th>
          </tr>
        </table>
        <!-- payforms -->
        <h5>payment forms</h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>type</th>
              <th>bank/flag</th>
              <th>description</th>
              <th class="text-right">value $</th>
            </tr>
          </thead>
          <tbody id="payFormRows"></tbody>
        </table>
        <table class="table table-sm">
          <tr>
            <th width="80%" class="text-right">TOTAL:</th>
            <th class="text-right" id="pfTotal">Total</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<template id="tablePayments">
  <tr style="font-size: small;">
    <td style="font-weight: normal; font-size: small;"></td>
    <td></td>
    <td></td>
    <td class="text-right"></td>
  </tr>
</template>

<template id="tablePayForms">
  <tr style="font-size: small;">
    <td style="font-weight: normal; font-size: small;"></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="text-right"></td>
  </tr>
</template>

{% block scripts %}
<script>
  function getOrder(order_id) {
    var url = 
    $.ajax({
        type: 'GET',
        dataType: "json",
        url: `/treasury/vue/get_order?order_id=${order_id}`,
        success: function (response) {
          toModal(response);
          $('#toShow').modal('show');
        },
        error: function (response) {
          console.log(response)
        }
      })
    }
    
  function toModal(info) {
    let namePerson = `${info.person} - ${info.center}`;
    let _selfPayed = info.self_payed == false ? '' : 'self payed';
    let _description = info.description ? info.description : '';
    document.querySelector('#selfPayed').innerHTML = _selfPayed;
    document.querySelector('#modalName').innerHTML = namePerson;
    document.querySelector('#modalDate').innerHTML = info.created_on;
    document.querySelector('#modalStatus').innerHTML = info.status;
    document.querySelector('#modalDescript').firstChild.innerHTML = _description;
    tablePayments(info.payments);
    document.querySelector('#ptTotal').innerHTML = parseFloat(info.amount).toFixed(2);
    tablePayForms(info.payforms);
    document.querySelector('#pfTotal').innerHTML = parseFloat(info.amount).toFixed(2);
  }

  function tablePayments(payments) {
    let tr = document.querySelector('#tablePayments');
    let td = tr.content.querySelectorAll("td");
    let tBody = document.querySelector('#paymentRows');
    tBody.innerText = '';
    for (pay in payments) {
      td[0].textContent = +pay + 1;
      td[1].textContent = payments[pay].paytype;
      td[2].textContent = payments[pay].event != '' ? payments[pay].event : payments[pay].ref_month;
      td[3].textContent = parseFloat(payments[pay].value).toFixed(2);
      let newTr = document.importNode(tr.content, true);
      tBody.appendChild(newTr);
    }
  }

  function tablePayForms(payForms) {
    let tr = document.querySelector('#tablePayForms');
    let td = tr.content.querySelectorAll("td");
    let tBody = document.querySelector('#payFormRows');
    tBody.innerText = '';
    for (pay in payForms) {
      let description = '';
      if (payForms[pay].ctrl_number && payForms[pay].complement) {
        description = `${payForms[pay].ctrl_number} (${payForms[pay].complement})`;
      } else if (payForms[pay].ctrl_number) {
        description = `${payForms[pay].ctrl_number}`;
      } else if (payForms[pay].complement) {
        description = `(${payForms[pay].complement})`;
      }
      td[0].textContent = +pay + 1;
      td[1].textContent = payForms[pay].payform_type;
      td[2].textContent = payForms[pay].bank_flag;
      td[3].textContent = description;
      td[4].textContent = parseFloat(payForms[pay].value).toFixed(2);
      let newTr = document.importNode(tr.content, true);
      tBody.appendChild(newTr);
    }
  }
</script>
{% endblock %}