{% load i18n %}

<div class="row border-top border-secondary pb-2 pt-2" 
  onclick="location.href='{% url 'order_detail' object.id %}';" 
  style="cursor: pointer;">
  <div class="col-sm-2">
    <strong> {{ object.created_on | date:"d/m/y" }}</strong>
  </div>
  <div class="col-sm-4">
    {{ object.person.short_name }}
  </div>
  <div class="col-sm-2">
    {{ object.payments.count }} payment{{ object.payments.count|pluralize }}
  </div>
  <div class="col-sm-2">
    <small>
      {% if object.self_payed %}
      <span class="badge badge-pill badge-secondary">
        {% trans 'made by the pupil' %}
      </span>
      {% endif %}
    </small>
  </div>
  <div class="col-sm-2 text-right">
    <span class="text-{% if object.status == 'PND' %}info
                {% elif object.status == 'CCL' %}danger
                {% else %}success{% endif %}">
      <small>
        {{ object.get_status_display }}
      </small>
    </span>
    &nbsp;
    <span class="badge badge-pill badge-{% if object.status == 'PND' %}info
                {% elif object.status == 'CCL' %}danger
                {% else %}success{% endif %}">
      {{ object.amount }}
    </span>
  </div>
</div>