{% load i18n %}

<article class="media content-section">
  <img class="rounded article-img" src="{{ object.user.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      {{ object.center }}
      &nbsp;&nbsp;
      <em>
        {{ object.get_aspect_display }} <strong>{% trans 'in' %}</strong>
        {{ object.aspect_date|date:"d/m/Y" }}
      </em>
      <div class="float-right">
        {% if object.status not in "ACT,---" %}
          <span class="badge badge-pill 
            {% if object.status == 'LIC' %}
            badge-success
            {% elif object.status == 'DIS' %}
            badge-warning
            {% elif object.status == 'REM' %}
            badge-danger
            {% elif object.status == 'DEA' %}
            badge-dark
            {% endif %}">
            {{ object.get_status_display }}
          </span>
          &nbsp;&nbsp;
        {% endif %}
        <p class="badge badge-pill badge-secondary">{{ object.reg }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>
          {{ object.name }} &nbsp;&nbsp;
          <small class="text-muted font-italic">
            {{ object.user.profile.social_name }}
          </small>
        </h5>
        {% if object.user.profile.phone_1 %}
        <i class="fas fa-phone"></i> {{ object.user.profile.phone_1 }} &nbsp;&nbsp;
        {% endif %}
        {% if object.user.profile.phone_2 %}
        <i class="fas fa-phone"></i> {{ object.user.profile.phone_2 }} <br>
        {% endif %}
        {% if object.user.email %}
        <i class="fas fa-envelope"></i> {{ object.user.email }}
        {% endif %}
      </div>
      <div class="col text-right">
        {% include "person/elements/address.html" %}
      </div>
    </div>
  </div>
</article>