{% extends "base/base.html" %}

{% block content %}

{% include "person/navbar.html" %}

{% include "person/header.html" %}

{% include "person/actions.html" %}

<article class="media content-section">
  <div class="media-body">

    {% if tab == "info" %}
      <h4>Info</h4>
      {% include "person/info.html" %}
    {% elif tab == "historic" %}
      <h4>Historic</h4>
      {% include "person/historic.html" %}
    {% elif tab == "frequencies" %}
      <h4>Frequencies</h4>
      {% include "person/frequencies.html" %}
    {% elif tab == "membership" %}
      <h4>Membership</h4>
      {% include "person/membership.html" %}
    {% endif %}
    
  </div>
</article>

{% endblock content %}