{% extends "base/base.html" %}
{% load i18n %}

{% block content %}

{% include "person/navbar.html" %}

{% include "person/header.html" %}

<article class="media content-section">
  <div class="media-body">

    {% if tab == "info" %}
      <h4>{% trans 'Info' %}</h4>
      {% include "person/info.html" %}
    {% elif tab == "historic" %}
      <h4>{% trans 'Historic' %}</h4>
      {% include "person/historic.html" %}
    {% elif tab == "frequencies" %}
      <h4>{% trans 'Frequencies' %}</h4>
      {% include "person/frequencies.html" %}
    {% elif tab == "membership" %}
      <h4>{% trans 'Membership' %}</h4>
      {% include "person/membership.html" %}
    {% endif %}
    
  </div>
</article>

{% endblock content %}