{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}

<div class="text-right mb-3">
  <a class="btn btn-light text-info mt-2 mr-3"
    href="{% url 'membership_ps_list' person.id %}">
    <i class="fas fa-chevron-left"></i> 
    {% trans 'Back' %}
  </a>
</div>

<article class="media content-section">
  <div class="media-body">
    <h4>{% trans 'Insert Membership' %}</h4>
    <form class="form-control-sm border-top" method="GET">
      {% csrf_token %}
      {% include "base/searchs/workgroup.html" %}
    </form>
    <br>
    {% include 'workgroup/workgroups.html' %}
  </div>
</article>
{% endblock %}