{% extends "base/base.html" %}

{% block content %}

{% include "workgroup/mentoring/navbar.html" %}

{% include "workgroup/mentoring/header.html" %}

{% include "workgroup/mentoring/actions.html" %}

<article class="media content-section">
  <div class="media-body">

  {% if tab == "members" %}
    {% include "workgroup/mentoring/members.html" %}
  {% elif tab == "frequencies" %}
    {% include "workgroup/mentoring/frequencies.html" %}
  {% elif tab == "add_frequencies" %}
    {% if not request.session.frequencies.event %}
      {% include "workgroup/mentoring/select_event.html" %}
    {% else %}
      {% include "workgroup/mentoring/who_participated.html" %}
    {% endif %}
  {% endif %}

  </div>
</article>

{% endblock content %}