{% extends "base/base.html" %}

{% block content %}

{% include "workgroup/member/navbar.html" %}

{% include "workgroup/member/header.html" %}

{% include "workgroup/member/actions.html" %}

<article class="media content-section">
  <div class="media-body">

    {% if tab == "info" %}
      <h4>Info</h4>
      {% include "workgroup/member/info.html" %}
    {% elif tab == "frequencies" %}
      <h4>Frequencies</h4>
      {% include "workgroup/member/frequencies.html" %}
    {% elif tab == "historic" %}
      <h4>Historic</h4>
      {% include "workgroup/member/historic.html" %}
    {% endif %}
    
  </div>
</article>

{% endblock content %}