<div class="skippy overflow-hidden">
  <div class="container-xl">
    <a class="sr-only sr-only-focusable d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
    <a class="sr-only sr-only-focusable d-none d-md-inline-flex p-2 m-1" href="#bd-docs-nav">Skip to docs navigation</a>
  </div>
</div>
{% load base_extras %}
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" 
     href="#" aria-label="Bootstrap">
    {% if nav == 'home' %}Mentoring{% else %}Group{% endif %}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      {% if nav == "detail" %}
        <li class="nav-item">
          <a class="nav-link {% if tab == 'members' %}active{% endif %}" 
            href="{% url 'mentoring_group_detail' object.pk %}">
            Members
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if tab == 'frequencies' or tab == 'add_frequencies' %}active{% endif %}" 
            href="{% url 'mentoring_group_frequencies' object.pk %}">
            Frequencies
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <!-- actions -->
  <ul class="navbar-nav ml-md-auto">
    {% if nav == "detail" %}
      {% if not request.session.frequencies.event and tab == "frequencies" %}
        <a class="nav-link pl-2 px-1 mx-1 py-3 my-n2 text-primary" 
           href="{% url 'mentoring_add_frequencies' object.id %}?init=on">
          <i class="fas fa-calendar-plus"></i>
          Frequencies
        </a>
      {% endif %}
    {% endif %}

    <li class="nav-item">
      <a class="nav-link pl-2 px-1 mx-1 py-3 my-n2 text-info" 
         href="{% if nav == 'home' %}
                 {% url 'home' %}
               {% elif nav == 'detail' %}
                 {{ goback }}?init=on
               {% endif %}">
        <i class="fas fa-chevron-left"></i> 
        Back
      </a>
    </li>
    
  </ul>

</header>