{% extends "base/base.html" %}

{% block content %}

{% include "user/profile/navbar.html" %}

{% include "user/profile/header.html" %}

<article class="media content-section">
  <div class="media-body">
    {% if tab == "detail" %}
      <h4>Profile</h4>
      {% include "user/profile/info.html" %}
    {% elif tab == "frequencies" %}
      {% include "user/profile/frequencies.html" %}
    {% elif tab == "historic" %}
      {% include "user/profile/historic.html" %}
    {% elif tab == "payments" %}
      {% include "user/profile/payments.html" %}
    {% endif %}
  </div>
</article>

{% endblock content %}