{% load static %}
{% load i18n %}

<div class="row border-top border-secondary pt-3">
  <div class="col-md-3 text-center">
    {% if object.profile.image %}
      <img 
        class="rounded-circle photo-cover mx-auto d-block mb-2" 
        src="{{ object.profile.image.url }}"
      >
    {% else %}
      <img
        class="rounded-circle photo-cover mx-auto d-block mb-2" 
        src="{% static 'img/default_profile.jpg' %}"
      >
    {% endif %}
  </div>
  <div class="col-md-9">

    <ul class="nav nav-pills mt-2 mb-2" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" 
          id="basic-tab" 
          data-toggle="tab" 
          href="#basic" 
          role="tab" 
          aria-controls="basic"
          aria-selected="true">
          {% trans 'Basic' %}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" 
          id="other-tab" 
          data-toggle="tab" 
          href="#other" 
          role="tab" 
          aria-controls="other"
          aria-selected="false">
          {% trans 'Others' %}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" 
          id="address-tab" 
          data-toggle="tab" 
          href="#address" 
          role="tab" 
          aria-controls="address"
          aria-selected="false">
          {% trans 'Address' %}
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" 
        id="basic" 
        role="tabpanel" 
        aria-labelledby="basic-tab">
        <br>
        <table class="table table-hover table-sm">
          <tr>
            <th>{% trans 'type' %}</th>
            <td>{{ object.person.get_person_type_display }}</td>
          </tr>
          <tr>
            <th>{% trans 'phone' %}</th>
            <td>{{ object.profile.phone_1 }}</td>
          </tr>
          <tr>
            <th>{% trans 'phone 2' %}</th>
            <td>{{ object.profile.phone_2 }}</td>
          </tr>
          <tr>
            <th>{% trans 'email' %}</th>
            <td>{{ object.email }}</td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" 
        id="other" 
        role="tabpanel" 
        aria-labelledby="other-tab">
        <br>
        <table class="table table-hover table-sm">
          <tr>
            <th>{% trans 'birth' %}</th>
            <td>{{ object.person.birth|date:"d/m/Y" }}</td>
          </tr>
          <tr>
            <th>{% trans 'profession' %}</th>
            <td>{{ object.profile.profession }}</td>
          </tr>
          <tr>
            <th>{% trans 'marital status' %}</th>
            <td>{{ object.profile.marital_status }}</td>
          </tr>
          <tr class="text-danger">
            <th>{% trans 'sos contact' %}</th>
            <td>
              {{ object.profile.sos_contact }}
            </td>
          </tr>
          <tr class="text-danger">
            <th>{% trans 'sos phone' %}</th>
            <td>
              {{ object.profile.sos_phone }}
            </td>
          </tr>
        </table>
      </div>
      <div class="tab-pane fade" 
        id="address" 
        role="tabpanel" 
        aria-labelledby="address-tab">
        <br>
        <table class="table table-hover table-sm">
          <tr>
            <th>{% trans 'address' %}</th>
            <td>
              <address>
                {% if object.profile.address %}
                  {{ object.profile.address }}
                {% endif %}
                {% if object.profile.number %}
                  , {{ object.profile.number }}
                {% endif %}
                {% if object.profile.complement %}
                  &nbsp;&nbsp;<small><em>{{ object.profile.complement }}</em></small>
                {% endif %}
                <br>
                {% if object.profile.district %}
                  {{ object.profile.district }} 
                {% endif %}
                {% if object.profile.city %}
                  - {{ object.profile.city }} 
                {% endif %}
                {% if object.profile.state %}
                  - {{ object.profile.state }} 
                {% endif %}
                <br>
                {% if object.profile.country %}
                  {{ object.profile.get_country_display }} 
                {% endif %}
                {% if object.profile.zip_code %}
                  - {{ object.profile.zip_code }}
                {% endif %}
              </address>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>