{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Atention!</h4>
  <p>Are you shure you want to insert: <br>
    <strong>{{ person.name }}</strong> in
    <strong>{{ insert_to }}</strong>
  </p>
  <hr>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group text-right">
      <button class="btn btn-success" type="submit">
        <i class="fas fa-check"></i>
        Confirm
      </button>
      <a class="btn btn-info" 
        href="javascript:history.back()">
        <i class="fas fa-chevron-left"></i>
        Go back
      </a>
    </div>
  </form>
</div>
{% endblock %}