{% load base_extras %}
<!-- actions -->
<div class="text-right mb-2 mt-2">
  {% if nav == "home" %}
    <a class="btn btn-light text-primary btn-sm" 
      href="{% url 'workgroup_create' %}">
      <i class="fas fa-plus"></i> 
      Workgroup
    </a>
  {% endif %}

  {% if nav == "detail" %}
    <a class="btn btn-light text-primary btn-sm" 
      href="{% url 'membership_insert' object.id %}?init=on">
      <i class="fas fa-plus"></i>
      Member
    </a>
    <a class="btn btn-light text-warning btn-sm" 
      href="{% url 'workgroup_update' object.id %}">
      <i class="fas fa-edit"></i> 
      Edit
    </a>
    <a class="btn btn-light text-danger btn-sm" 
      href="{% url 'workgroup_delete' object.id %}">
      <i class="fas fa-trash-alt"></i> 
      Delete
    </a>
  {% endif %}
  
</div>

  
