{% load i18n %}

<div class="col-sm-12">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong>{{ obj.person.name }}</strong>
  <small>
    &nbsp;&nbsp;&nbsp;
    <em>{{ obj.person.get_aspect_display }}</em>
    &nbsp;&nbsp;&nbsp;
    <i class="fa-solid fa-location-dot"></i> <em>{{ obj.local }}</em> 
    {% if obj.person.user.profile.phone_1 %}
      &nbsp;&nbsp;&nbsp;
      <i class="fas fa-phone"></i> 
      {{ obj.person.user.profile.phone_1 }}
    {% elif obj.user.profile.phone_2 %}
      &nbsp;&nbsp;&nbsp;
      <i class="fas fa-phone"></i> 
      {{ obj.person.user.profile.phone_2 }}
    {% endif %}
    {% if obj.person.user.email %}
      &nbsp;&nbsp;&nbsp;
      <i class="fas fa-envelope"></i> 
      {{ obj.person.user.email }}
    {% endif %}
  </small>
</div>