{% load base_extras %}
<!-- actions -->
<div class="text-right mb-2 mt-2">
  <!-- controlers -->
  <a class="btn btn-light text-primary btn-sm" 
    href="{% url 'add_listener' object.pk %}?init=on">
    <i class="fas fa-plus"></i></i> 
    Listeners
  </a>
  {% if object.center == request.user.person.center or request.user.is_superuser %}
    <a class="btn btn-light text-warning btn-sm" 
      href="{% url 'lecture_update' object.pk %}">
      <i class="fas fa-edit"></i> 
      Edit
    </a>
    {% if object.listeners.count == 0 %}
    <a class="btn btn-light text-danger btn-sm" 
      href="{% url 'lecture_delete' object.pk %}">
      <i class="fas fa-trash-alt"></i> 
      Delete
    </a>
    {% endif %}
  {% endif %}

  {% if object.is_active %}
    {% if tab == "info" %}
    <a class="btn btn-light btn-sm" href="{% url 'seeker_update' object.id %}">
      <i class="fas fa-edit"></i> 
      Edit
    </a>
      {% if object.is_active %}
      <a class="btn btn-light btn-sm" href="{% url 'seeker_delete' object.id %}">
        <i class="fas fa-edit"></i> 
        Delete
      </a>
      {% else %}
      <a class="btn btn-light btn-sm" href="{% url 'seeker_reinsert' object.id %}">
        <i class="fas fa-edit"></i> 
        Reinsert
      </a>
      {% endif %}
    {% endif %}

    {% if tab == "frequencies" %}
    <a class="btn btn-light text-primary btn-sm" 
      href="{% url 'add_frequency' object.id %}?init=on">
      <i class="fas fa-plus"></i> 
      Frequency
    </a>
    {% endif %}

    {% if tab == "historic" %}
    <a class="btn btn-light btn-sm" href="{% url 'create_historic' object.id %}">
      <i class="fas fa-plus"></i> 
      Add historic
    </a>
    {% endif %}

  {% endif %}
  
</div>
