{% if object_list %}

  {% if object_list.has_other_pages %}
    {% include "base/elements/paginator.html" %}
  {% endif %}

  {% for hist in object_list %}
  <div class="row border-top border-secondary mt-2 pt-2"
      onclick="location.href='{% url 'update_historic' object.pk hist.pk %}'">
    <div class="col-sm-1 font-weight-bold">
      {{ hist.date|date:'d/m/y' }}
    </div>
    <div class="col-sm-2">
      <strong>{{ hist.get_occurrence_display }}</strong>
    </div>
    <div class="col-sm-8">
      {% if hist.description %}
      {{ hist.description }}
      {% endif %}
    </div> 
    <div class="col-sm-1 text-right">
      <a type="button" 
        href="{% url 'delete_historic' object.pk hist.pk %}"
        class="btn btn-light text-danger btn-sm">
        <i class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>
  {% endfor %}

{% else %}

  <div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">no historics found</h4>
  </div>

{% endif %}