<div class="jumbotron text-justify">
  <h1 class="text-center border-bottom">Parabéns!</h1>
  <p>Seu cadastro foi realizado com sucesso!</p>
  <p>Você será incluído em um grupo de “Boas-vindas” e nos próximos dias, 
    um dos alunos responsáveis por este grupo deve entrar em contato com você 
    (por mensagem, ligação ou email), para lhe passar orientações e as próximas 
    atividades.</p>
  <p>Caso isso não ocorra num prazo de 7 dias, pedimos o favor, de entrar em
    contato conosco através do email: 
    <a href="mailto:rcadmin@rosacruzaurea.org.br">rcadmin@rosacruzaurea.org.br</a> </p>
  <br>
  <p class="text-right">Atenciosamente</p>
  <h4 class="text-right">equipe rc@dmin</h4>
</div>







