<div class="jumbotron text-justify">
  <h1 class="text-center border-bottom">O token expirou</h1>
  <p>A solicitação do seu cadastro expirou.</p>
  <p>Caso seja de seu interesse, refaça o seu cadastro através do link:</p>
  <a href="{% url 'insert_yourself' %}">Eu quero participar!</a>
  <p>Caso queira relatar algum problema, entre em
    contato conosco através do email: 
    <a href="mailto:rcadmin@rosacruzaurea.org.br">rcadmin@rosacruzaurea.org.br</a> </p>
  <br>
  <p class="text-right">Atenciosamente</p>
  <h4 class="text-right">equipe rc@dmin</h4>
</div>







