{% load base_extras %}
{% load i18n %}

<div class="col-sm-2">
  <strong>{{ obj.event.date | date:"d/m/Y" }}</strong>
</div>

<div class="col-sm-5">
  <strong>{{ obj.event.activity }}</strong>
  <small class="text-muted">
    {{ obj.event.center }}
  </small>
</div>

<div class="col-sm-3 small align-middle">
  {{ obj.get_aspect_display }}
</div>

<div class="col-sm text-right">
  <a type="button" 
    class="btn btn-light text-danger btn-sm"
    href="{% url 'frequency_ps_delete' object.id obj.event.id %}">
    <i class="fas fa-trash-alt"></i>
  </a>
</div>