<nav class="navbar navbar-expand-lg navbar-light bg-transp mb-1">
  <a class="navbar-brand" href="{% url 'person_home' %}?init=on">Persons</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAuxiliar"
    aria-controls="navbarAuxiliar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarProfile">
    <!-- menu items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" 
           href="#" 
           id="personTools" 
           role="button" 
           data-toggle="dropdown" 
           aria-haspopup="true" 
           aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="personTools">
          <a class="dropdown-item" href="{% url 'import_from_seekers' %}">Import from Seekers</a>
          <!-- <div class="dropdown-divider"></div> -->
          <!-- <a class="dropdown-item" href="#">Other</a> -->
        </div>
      </li>
    </ul>

    <!-- controlers -->
    <div class="navbar-nav">
      <a class="btn btn-light btn-sm" href="{% url 'person_create' %}">
        <i class="fas fa-plus"></i> 
        Add person
      </a>
      <a class="btn btn-light btn-sm" href="{% url 'home' %}">
        <i class="fas fa-chevron-left"></i> 
        Go back
      </a>
    </div>
  </div>
</nav>
