{% load base_extras %}
{% load i18n %}

<div class="col-sm-1">
  <strong>{{ obj.event.date|date:"d/m/y" }}</strong>
</div>

<div class="col-sm-9">
  <strong>{{ obj.event.activity }}</strong>
  <small>
    &nbsp;&nbsp;&nbsp;
    {{ obj.event.center }}
    &nbsp;&nbsp;&nbsp;
    <em>({{ obj.get_aspect_display }})</em>
  </small>
</div>

<div class="col-sm-2 text-right">
  <a type="button" 
    class="btn btn-light text-danger btn-sm"
    href="{% url 'frequency_ps_delete' object.id obj.event.id %}">
    <i class="fas fa-trash-alt"></i>
  </a>
</div>