{% load i18n %}
{% load crispy_forms_tags %}

{% if hst_pk %}
  <form 
    id="form"
    hx-post="{{ to_update }}?pos={{pos}}"
    hx-target="#HST{{ hst_pk }}"
    hx-swap="innerHTML"
  >
{% else %}
  <form method="POST" action="{{ to_create }}">
{% endif %}

  {% csrf_token %}

  <div class="modal-header {% if hst_pk %}bg-warning{% else %}bg-primary{% endif %}">
    <h4 class="modal-title {% if hst_pk %}text-dark{% else %}text-light{% endif %}">
      {{ title }}
    </h4>
    <button 
      type="button" 
      class="close {% if hst_pk %}text-dark{% else %}text-light{% endif %}" 
      data-dismiss="modal" 
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {{ form | crispy }}
  </div>
  <div class="modal-footer">
    <div class="text-right">
      <button 
        type="button" 
        class="btn btn-secondary" 
        data-dismiss="modal" 
        aria-label="Close"
      >
        <i class="fas fa-xmark"></i>
        {% trans 'Cancel' %}
      </button>
      <button 
        type="submit"
        class="btn {% if hst_pk %}btn-warning{% else %}btn-primary{% endif %}"
      >
        <i class="fas fa-edit"></i>
        {% if hst_pk %}
          {% trans 'Update' %}
        {% else %}
          {% trans 'Create' %}
        {% endif %}
      </button>
    </div>
  </div>
</form>

<style type="text/css">
  h5 {color: black;}
</style>