{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Atention!</h4>
  <p>Are you sure you want to delete: <br>
    <strong>{{ object }}?</strong>
  </p>
  <hr>
  <form class="text-right" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <button class="btn btn-danger" type="submit">
        <i class="fas fa-check"></i>
        Confirm
      </button>
      <a class="btn btn-info" href="javascript:history.back()">
        <i class="fas fa-chevron-left"></i>
        Back
      </a>
    </div>
  </form>
</div>
{% endblock %}
