{% extends "base/base.html" %}

{% load i18n %}

{% load static %}

{% block content %}

  {% include search %}

  <article class="media content-section mb-1">
    <div class="media-body cabecalho-relatorios">
  
      <img src="{% if request.session.color_theme == 'dark' %}{% static 'images/logo-mini-white.png' %}{% else %}{% static 'images/logo-mini-black.png' %}{% endif %}" class="logo-relatorio" alt="...">
  
      <div class="title-cabecalho-relatorio">
        <h2>
          {{ title | upper }}
        </h2>
      </div>
  
      <small class="cabecalho-dados">
        <p>{{ request.user.person.center }}</p>
        <p>{{ request.user }}</p>
        <p>{% now "SHORT_DATETIME_FORMAT" %}</p>
      </small>
  
    </div>
  </article>

  <div class="text-right mb-2">
    <div class="btn-group btn-group-sm mt-1" role="group">
      <a type="button" 
        class="btn btn-light text-success controls-report" 
        data-toggle="modal" data-target="#modal">
        <i class="fas fa-chart-bar"></i> 
        {% trans 'New import' %}
      </a>
      <a type="button" 
        class="btn btn-light text-warning controls-report" 
        href="#"
        onclick="window.print()">
        <i class="fas fa-print"></i> 
        {% trans 'To print' %}
      </a>
      <a type="button" 
        class="btn btn-light text-info controls-report" 
        href="{% url 'home' %}">
        <i class="fas fa-chevron-left "></i> 
        {% trans 'Go back' %}
      </a>
    </div>
  </div>

  {% if report_data %}

  <article class="content-section p-4">
    {% for line in report_data %}
      {% if "*" in line %}
        <p class="text-monospace"><strong>{{ line }}</strong></p>
      {% else %}
      <p class="text-monospace">&nbsp;&nbsp;{{ line }}</p>
      {% endif %}
    {% endfor %}
  </article>

  {% else %}

  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">
      {% if error %}
        {{ error }}
      {% else %}
        {% trans 'select file (.csv) to import' %}
      {% endif %}
    </h4>
  </div>

  {% endif %}

{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function(){
    var reportData = '{{ report_data }}';
    var error = '{{ error }}'
    if (!reportData && !error) {
      $('#modal').modal('show');
    }
  });
</script>

{% endblock %}



