{% load base_extras %}
{% load i18n %}

<div class="col-sm-10">
  <strong>
    {{ forloop.counter|add:counter }}
    &nbsp;&nbsp;
    {{ obj.name }}
  </strong>
  <small class="{% if not obj.is_active %}text-danger{% endif %}">
    &nbsp;&nbsp;&nbsp;
    <em>{{ obj.get_center_type_display }}</em>
  
    {% if obj.city and obj.state and obj.country %}
      &nbsp;&nbsp;&nbsp;
      <i class="fa-solid fa-location-dot"></i> 
      <em>{{ obj.city }} ({{ obj.state }}-{{ obj.country }})</em>
    {% endif %}

    {% if obj.phone_1 %}
      &nbsp;&nbsp;&nbsp;
      <i class="fas fa-phone"></i> {{ obj.phone_1 }}
    {% elif obj.phone_2 %}
      &nbsp;&nbsp;&nbsp;
      <i class="fas fa-phone"></i> {{ obj.phone_2 }}
    {% endif %}

    {% if obj.email %}
      &nbsp;&nbsp;&nbsp;
      <i class="fas fa-envelope"></i> {{ obj.email }}
    {% endif %}

  </small>
</div>

<div class="col-sm-2 text-right">
  {% if obj.is_active %} 
    <i class="fas fa-toggle-on"></i>
  {% else %} 
    <i class="fas fa-toggle-off text-muted"></i>
  {% endif %}

  {% if obj.click_link %}
    {% if request.user.is_superuser or request.user|has_group:"office" %}
      <a type="button" 
        href="{{ obj.click_link }}"
        class="btn btn-light text-primary btn-sm">
        <i class="fas fa-eye"></i>
      </a>
    {% endif %}
  {% endif %}
</div>