{% load base_extras %}
{% load i18n %}
<br>
<table class="table table-hover table-sm">
  <tr>
    <th width="20%">{% trans 'phone' %}</th>
    <td>{{ object.phone_1 }}</td>
  </tr>
  <tr>
    <th>{% trans 'backup phone' %}</th>
    <td>{{ object.phone_2 }}</td>
  </tr>
  <tr>
    <th>{% trans 'email' %}</th>
    <td>{{ object.email }}</td>
  </tr>
  <tr>
    <th>{% trans 'secretary' %}</th>
    <td>
      {% if object.secretary %}
      <a href="{% url 'person_detail' object.secretary.person.id %}">
        {{ object.secretary.person.name }}
      </a>
      {% endif %}
    </td>
  </tr>
</table>
{% if request.user|has_group:"office" and request.user.person.center_id == object.id or request.user.is_superuser %}
  <div class="text-right">
    <a 
      href="#"
      class="btn btn-sm btn-outline-warning mb-4" 
      onclick="manageData('{% url 'center_update_basic' object.id %}')"
    >
      <i class="fas fa-edit"></i> 
      {% trans 'Edit' %}
    </a>
  </div>
{% endif %}